@import "_buttons";

.transactions_component {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .transactions_actions {
    display: flex;
    gap: 10px;
    width: 100%;

    .transactions_title_cards {
      font-size: 1.2em;
      font-weight: bold;
      color: #333;
    }

    .transactions_output {
      flex: 0;
    }

    .transactions_input {
      flex: 1;
    }

    .transactions_body {
      display: flex;
      gap: 10px;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
      background-color: #f9f9f9;
    }

    .total {
      font-weight: bold;
    }

    .currency {
      font-size: 1.2em;
      color: #007bff; /* Cor para destacar o valor */
    }

    form {
      height: 100%;
      width: 100%;
      display: inline-flex;
      flex-direction: column;
      padding: 1rem;

      app-form {
        height: 100%;
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        gap: 8px;
      }

      .primary {
        width: 100%;
        @include primary;
      }

      .secondary {
        @include secondary;
      }
    }
  }

  .transactions_content {
    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
      }

      th {
        background-color: #f0f0f0;
        font-weight: bold;
      }

      .item_icon {
        width: 30px;
        text-align: center;

        .material-symbols-outlined {
          font-size: 1.2em;
          color: #007bff; /* Cor para os ícones */
        }
      }
    }
  }
}
