<mat-sidenav-container>
  <mat-sidenav #snav mode="push" [fixedInViewport]="!hiddeToolBar">
    <app-tool-bar [user]="user" [snav]="snav" [showButtons]="false">
      <ng-container *ngTemplateOutlet="menuButtonTemplate"></ng-container>
    </app-tool-bar>
  </mat-sidenav>
  <mat-sidenav-content class="app_component">
    <app-tool-bar [user]="user" [snav]="snav" [showButtons]="true" *ngIf="!hiddeToolBar">
      <ng-container *ngTemplateOutlet="menuButtonTemplate"></ng-container>
    </app-tool-bar>
    <div class="app_router">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #menuButtonTemplate>
  <button class="menu_button" title="Menu" (click)="snav.toggle()">
    <span class="material-symbols-outlined">
      menu
    </span>
  </button>
</ng-template>
