@import '_buttons';

mat-sidenav-container {
  height: 100%;
  width: 100%;

  app-tool-bar {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    height: 3rem;
    padding: 0 1rem;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #cfcfcf;
  }

  @media only screen and (min-width: 768px) {
    .menu_button {
      display: none;
    }
  }

  mat-sidenav {
    min-width: 15rem;
    background-color: #FFF;

    * {
      color: var(--character-primary-85, rgba(0, 0, 0, 0.85));
      ;
    }

    app-tool-bar {
      flex-direction: column;

      @media only screen and (max-width: 768px) {
        height: auto;
        padding: 0;
        border-bottom: 0;
      }
    }
  }
}

.app_component {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app_router {
  width: 100%;
  height: 100%;
  background-color: #e7eaf6;
  flex: 1;
  overflow: auto;
}

button {
  height: 100%;
  @include custom;
}
