@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */

@mixin fonts-general {
  font-family: Roboto;
  line-height: normal;
}

@mixin fonts-normal {
  @include fonts-general;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  // color: var(--character-primary-85, rgba(0, 0, 0, 0.85));
}

@mixin app-scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 12px;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 3px;

    &:hover {
      background: transparent;
    }
  }

  &:hover {
    &::-webkit-scrollbar {
      width: 8px;
    }

    // &::-webkit-scrollbar-track {
    // }
    &::-webkit-scrollbar-thumb {
      background: gray;
      border-radius: 5px;

      &:hover {
        background: gray;
      }
    }
  }
}

html,
body {
  height: 100%;
  width: 100%;
}

*:not(.material-symbols-outlined) {
  @include fonts-general;
}

body {
  margin: 0;

  .mat-drawer-container {
    color: var(--character-primary-85, rgba(0, 0, 0, 0.85));
    background: none;
  }

  mat-select {
    width: 100%;
    border: 1px solid #bbbbbba6;
    border-radius: 4px;
    height: 2rem;
    outline: 0;

    span {
      @include fonts-normal;
    }

    .mat-mdc-select-trigger {
      display: inline-flex;
      align-items: center;
      height: 100%;
      padding: 0 0.5rem;

      .mat-mdc-select-value {
        overflow: unset;
      }
    }
  }

  .mdc-text-field {
    display: inline-flex;
    align-items: center;
    height: 2rem;
    background-color: #fff;
  }

  .mat_select_class {
    height: 100%;
    width: 100%;
  }

  .mat-mdc-option {
    min-height: 100%;
    background-color: #fff !important;

    &:hover {
      background-color: #fff !important;
    }
  }

  button:not(.material-symbols-outlined) {
    @include fonts-normal;
  }

  h4 {
    margin: 0;
    font-weight: 500;
  }

  p {
    color: var(--character-primary-85, rgba(49, 49, 49, 0.644));
  }

  * {
    box-sizing: border-box;
    @include app-scrollbar();
  }
}
